<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Contact V4</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'Signup/images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'Signup/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'Signup/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'Signup/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'Signup/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'Signup/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'Signup/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'Signup/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'Signup/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Signup/css/main.css' %}">
    <!--===============================================================================================-->
</head>
<body>


<div class="container-contact100" style="background-color: #ba0606;">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" method="post">
            {% csrf_token %}
            <span class="form-group" style="font-size: 200%; font-weight: bold; margin-left: 115px">
					Quên mật khẩu?
				</span>

            {% if messages %}
            <!--					{% for message in messages %}-->
            <div class="alert alert-{{message.tags}}" role="alert">
                {{ message }}
            </div>
            <!--					{% endfor %}-->
            {% endif %}

            <div class="wrap-input100 validate-input">
                <!--					<span class="label-input100">Email</span><br>-->
                <input class="input100" type="email" name="email_receive" placeholder="Nhập địa chỉ email" required>
                <span class="focus-input100"></span>
            </div>


            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button class="contact100-form-btn">
							<span>
								Send
							</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--===============================================================================================-->
<script src="{% static 'Signup/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'Signup/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'Signup/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'Signup/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'Signup/vendor/select2/select2.min.js' %}"></script>
<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

</script>
<!--===============================================================================================-->
<script src="{% static 'Signup/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'Signup/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'Signup/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'Signup/js/main.js' %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');

</script>

</body>
</html>
