{% extends 'Shop/main.html' %}
{% load static %}
{% block head %}
    <style>
<!--		button-->
        .container-contact100-form-btn {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding-top: 13px;
        }
        .wrap-contact100-form-btn {
          width: 100%;
          display: block;
          position: relative;
          z-index: 1;
          border-radius: 25px;
          overflow: hidden;
          margin: 0 auto;
        }
        .contact100-form-bgbtn {
          position: absolute;
          z-index: -1;
          width: 300%;
          height: 100%;
          background: #a64bf4;
          background: -webkit-linear-gradient(left, #de0000, #450406, #de0000, #450406);
          background: -o-linear-gradient(left, #de0000, #450406, #de0000, #450406);
          background: -moz-linear-gradient(left, #de0000, #450406, #de0000, #450406);
          background: linear-gradient(left, #de0000, #450406, #de0000, #450406);
          top: 0;
          left: -100%;

          -webkit-transition: all 0.4s;
          -o-transition: all 0.4s;
          -moz-transition: all 0.4s;
          transition: all 0.4s;
        }
        .contact100-form-btn {
          outline: none !important;
          border: none;
          background: transparent;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 20px;
          width: 100%;
          height: 50px;

          font-family: Poppins-Medium;
          font-size: 16px;
          color: #fff;
          line-height: 1.2;
        }
        .wrap-contact100-form-btn:hover .contact100-form-bgbtn {
          left: 0;
        }
        .contact100-form-btn i {
          -webkit-transition: all 0.4s;
          -o-transition: all 0.4s;
          -moz-transition: all 0.4s;
          transition: all 0.4s;
        }
        .contact100-form-btn:hover i {
          -webkit-transform: translateX(10px);
          -moz-transform: translateX(10px);
          -ms-transform: translateX(10px);
          -o-transform: translateX(10px);
          transform: translateX(10px);
        }
    </style>
{% endblock %}

{% block content %}
	<nav id="navigation">
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li><a href="{% url 'home' %}">Trang chủ</a></li>
					<li><a href="{% url 'store' %}">Cửa hàng</a></li>
					<li><a href="{% url 'aboutUs' %}">Chúng tôi</a></li>
					<li><a href="{% url 'contact' %}">Liên hệ</a></li>
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
	</nav>
        <div class="container" id="profile">
            <h2>Hồ Sơ Của Tôi</h2><br>
            <form class="clientProfile" action="#" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Tên đăng nhập:</label>
                    <input type="text" class="form-control" value="{{user.username}}" readonly placeholder="Username" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="fullname">Tên đầy đủ:</label>
                    <input type="text" class="form-control" value="{{user.first_name}} {{user.last_name}}" placeholder="Fullname" name="fullname" id="fullname" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" value="{{user.email}}" placeholder="Email" name="email">
                </div>
                <div class="form-group">
                    <label for="address">Địa chỉ:</label>
                        {% if user.has_usable_password %}
                            {% if customer.address is not None %}
                                <input type="text" class="form-control" id="address" value="{{customer.address}}" placeholder="Address" name="address">
                            {% else %}
                                <input type="text" class="form-control" id="address" value="" placeholder="Address" name="address">
                            {% endif %}
                        {% else %}
                            {% if customer.address is not None %}
                                <input type="text" class="form-control" id="address" value="{{customer.address}}" placeholder="Address" name="address">
                            {% else %}
                                <input type="text" class="form-control" id="address" value="" placeholder="Address" name="address">
                            {% endif %}
                        {% endif %}
                </div>
                <div class="form-group">
                    <label for="phone">Số điện thoại:</label>
                        {% if user.has_usable_password %}
                            {% if customer.phone is not None %}
                                <input type="text" class="form-control" id="phone" value="{{customer.phone}}" placeholder="Phone" name="phone">
                            {% else %}
                                <input type="text" class="form-control" id="phone" value="" placeholder="Phone" name="phone">
                            {% endif %}
                        {% else %}
                            {% if customer.phone is not None %}
                                <input type="text" class="form-control" id="phone" value="{{customer.phone}}" placeholder="Phone" name="phone">
                            {% else %}
                                <input type="text" class="form-control" id="phone" value="" placeholder="Phone" name="phone">
                            {% endif %}
                        {% endif %}
                </div><br>

                <div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn">
							<span>
								Xác nhận
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</div>
            </form><br>

            {% if order %}
                <div class="col-md-8" style="margin-top:15px">
                    <h3>Lịch sử đặt hàng </h3>
                    <hr>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên </th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Ngày hoàn thành </th>
                                <th>Địa chỉ </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {%  for o in order %}
                                {% if o.show %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{o.name}}</td>
                                        <td>{{o.email}}</td>
                                        <td>{{o.status}}</td>
                                        <td>{{o.date_finnish}}</td>
                                        <td>{{o.address}}</td>

                                        <td>

                                            <a href="{% url 'orderdetail' o.id %}"> <button class="btn btn-success" >Xem</button></a>
    <!--                                        <div class="container-contact100-form-btn">-->
    <!--                                            <div class="wrap-contact100-form-btn">-->
    <!--                                                <div class="contact100-form-bgbtn"></div>-->
    <!--                                                <button class="contact100-form-btn" style="height: 40px">-->

    <!--                                                    <a href="{% url 'orderdetail' o.id %}" role="button" style="color:white;">Chi tiết </a>-->

    <!--                                                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>-->
    <!--                                                </button>-->
    <!--                                                <button class="btn btn-primary" >Xóa</button>-->
    <!--                                            </div>-->
    <!--                                        </div>-->
                                        </td>
                                        <td>
                                            {% if o.status == "Canceled" %}
                                            <button data-id="{{o.id}}" class="btn btn-primary delete" >Xóa</button>
                                            {% elif o.status == "Completed" %}
                                            <button data-id="{{o.id}}" class="btn btn-primary delete" >Xóa</button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            <script src="{% static 'js/checkout.js' %}"></script>
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
{% endblock %}