{% extends 'Shop/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% block content %}

<nav id="navigation">
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a href="{% url 'home' %}">Trang chủ</a></li>
                <li><a href="{% url 'store' %}">Cửa hàng</a></li>
                <li><a href="{% url 'aboutUs' %}">Chúng tôi</a></li>
                <li><a href="{% url 'contact' %}">Liên hệ</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
</nav>
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {% if messages %}
            <!--						{% for message in messages %}-->
            <div class="alert alert-{{message.tags}}" role="alert">
                {{ message }}
            </div>
            <!--						{% endfor %}-->
            {% endif %}

            <div class="col-md-7">
                <!-- Billing Details -->
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Thông tin thanh toán</h3>
                    </div>
                    <div class="form-group">
                        <label for="fullname">Tên:</label>
                        <input class="form-control" type="text" value="{{customer.name}}" name="full_name"
                               placeholder="Full Name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input class="form-control" type="email" value="{{customer.email}}" name="email"
                               placeholder="Email" required>
                    </div>
                    <!--							<div class="form-group">-->
                    <!--								<label for="address">Địa chỉ:</label>-->
                    <!--								<input class="input" type="text" value="{{customer.address}}" name="address" placeholder="Address">-->
                    <!--							</div>-->
                    <!--							<div class="form-group">-->
                    <!--								<label for="phone">SĐT:</label>-->
                    <!--								<input class="input" type="tel" value="{{customer.phone}}" name="tel" placeholder="Telephone">-->
                    <!--							</div>-->
                    <div class="form-group">
                        <label for="address">Địa chỉ:</label>
                        {% if user.has_usable_password %}
                        {% if customer.address is not None %}
                        <input type="text" class="form-control" id="address" value="{{customer.address}}"
                               placeholder="Address" name="address" required>
                        {% else %}
                        <input type="text" class="form-control" id="address" value="" placeholder="Address"
                               name="address" required>
                        {% endif %}
                        {% else %}
                        {% if customer.address is not None %}
                        <input type="text" class="form-control" id="address" value="{{customer.address}}"
                               placeholder="Address" name="address" required>
                        {% else %}
                        <input type="text" class="form-control" id="address" value="" placeholder="Address"
                               name="address" required>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="phone">SĐT:</label>
                        {% if user.has_usable_password %}
                        {% if customer.phone is not None %}
                        <input type="text" class="form-control" id="phone" value="{{customer.phone}}"
                               placeholder="Phone" name="phone" required>
                        {% else %}
                        <input type="text" class="form-control" id="phone" value="" placeholder="Phone" name="phone"
                               required>
                        {% endif %}
                        {% else %}
                        {% if customer.phone is not None %}
                        <input type="text" class="form-control" id="phone" value="{{customer.phone}}"
                               placeholder="Phone" name="phone" required>
                        {% else %}
                        <input type="text" class="form-control" id="phone" value="" placeholder="Phone" name="phone"
                               required>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>

                <!-- Order notes -->
                <div class="order-notes">
                    <label for="note">Note:</label>
                    <textarea class="form-control" name="ordernode" placeholder="Order Notes"></textarea>
                </div>
                <!-- /Order notes -->
            </div>

            <!-- Order Details -->
            <div class="col-md-5 order-details">
                <div class="section-title text-center">
                    <h3 class="title">Đơn hàng của bạn </h3>
                </div>
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>Sản phẩm </strong></div>
                        <div><strong>Tổng cộng </strong></div>
                    </div>
                    <div class="order-products">
                        {% for cart in cart_product %}
                        <div class="order-col">
                            <div>{{cart.quantity}}x {{cart.product.name}}</div>
                            <div>{{cart.get_price_product|intcomma}},000 Vnd</div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="order-col">
                        <div>Phí Ship</div>
                        <div><strong>Miễn Phí</strong></div>
                    </div>
                    <div class="order-col">
                        <div><strong>Tổng cộng</strong></div>
                        <div style="font-size:125%; font-weight: bold" class="order-total">
                            {{cart.get_total_price_product|intcomma}},000 Vnd
                        </div>
                    </div>
                </div>

                <button type="submit" class="primary-btn order-submit" style="width:100%">Đặt hàng</button>
            </div>
            <!-- /Order Details -->
        </form>
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
{% endblock %}




