{% extends 'Shop/main.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a href="{% url 'home' %}">Trang chủ</a></li>
                <li><a href="{% url 'store' %}">Cửa hàng</a></li>
                <li class="active"><a href="{% url 'aboutUs' %}">Chúng tôi</a></li>
                <li><a href="{% url 'contact' %}">Liên hệ</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<br>
<br>
<div style="margin-left: 20%; margin-right: 20%">
    <h1 style="margin-left: 40%">Giới thiệu</h1>
    <br>
    <p>T&ecirc;n c&ocirc;ng ty:&nbsp;<strong>C&Ocirc;NG TY CỔ PHẦN THƯƠNG MẠI M&Aacute;Y T&Iacute;NH AN
        PH&Aacute;T</strong></p>
    <p><strong>T&ecirc;n giao dịch quốc tế: AN PHAT COMPUTER TRADING JOINT STOCK COMPANY</strong></p>

    <p><strong>(Trực thuộc:<strong>&nbsp;C&Ocirc;NG&nbsp;TY&nbsp;TNHH&nbsp;THƯƠNG&nbsp;MẠI&nbsp;DỊCH&nbsp;VỤ&nbsp;TIN&nbsp;HỌC&nbsp;AN&nbsp;PH&Aacute;T
        -</strong>&nbsp;MST:&nbsp;<strong>0101468933)</strong></strong></p>

    <p><strong>Địa chỉ:&nbsp;</strong></p>

    <p><strong><strong>- Tầng 5, số 49 Phố</strong><strong>&nbsp;</strong><strong>Th&aacute;i H&agrave;, Phường&nbsp;Trung
        Liệt, Quận</strong><strong>&nbsp;</strong><strong>Đống&nbsp;Đa, Th&agrave;nh Phố H&agrave;&nbsp;Nội, Việt
        Nam.</strong></strong></p>

    <p><strong>- Showroom H&agrave; Nội: Số 49 Phố</strong><strong>&nbsp;</strong><strong>Th&aacute;i H&agrave;, Phường
        Trung Liệt, Quận</strong><strong>&nbsp;</strong><strong>Đống&nbsp;Đa, Th&agrave;nh Phố
        H&agrave;&nbsp;Nội.</strong></p>

    <p><strong>- Showroom TPHCM:&nbsp;</strong><strong>84T/14 Trần Đ&igrave;nh Xu - P. C&ocirc; Giang - Q. 1 -
        TPHCM</strong></p>

    <p>&nbsp;</p>

    <p>Giấy&nbsp;CNĐKKD&nbsp;v&agrave;&nbsp;m&atilde;&nbsp;số&nbsp;doanh&nbsp;nghiệp&nbsp;số:<strong>&nbsp;0108940873&nbsp;<strong>do
        sở Kế hoạch &amp; Đầu tư th&agrave;nh phố H&agrave; Nội cấp</strong>&nbsp;</strong></p>

    <p>Đại&nbsp;diện&nbsp;theo&nbsp;ph&aacute;p&nbsp;luật&nbsp;của&nbsp;doanh&nbsp;nghiệp:<strong>&nbsp;B&agrave;&nbsp;L&ecirc;&nbsp;Thị&nbsp;Hương&nbsp;Giang&nbsp;-
        Tổng Gi&aacute;m&nbsp;Đốc</strong></p>

    <p>&nbsp;</p>

    <ol>
        <li><strong>GIỚI THIỆU CHUNG</strong></li>
    </ol>

    <p>C&ocirc;ng ty TNHH Thương mại Dịch vụ Tin học An Ph&aacute;t được th&agrave;nh lập ng&agrave;y 29/03/2004. Những
        ng&agrave;y đầu th&agrave;nh lập, An Ph&aacute;t chỉ c&oacute; 10 nh&acirc;n sự chủ chốt. Sau hơn 15 năm hoạt
        động, hiện nay quy m&ocirc; C&ocirc;ng ty ph&aacute;t triển với hơn 150 nh&acirc;n vi&ecirc;n với trung t&acirc;m
        ph&acirc;n phối, trung t&acirc;m dự &aacute;n v&agrave; si&ecirc;u thị b&aacute;n lẻ m&aacute;y t&iacute;nh c&oacute;
        diện t&iacute;ch &gt;900m<sup>2</sup>, tọa tr&ecirc;n con phố Th&aacute;i H&agrave; - sầm uất bậc nhất của H&agrave;
        Nội.</p>

    <p>Trong suốt hơn 15 năm hoạt động, An Ph&aacute;t lu&ocirc;n l&agrave; một trong những c&ocirc;ng ty h&agrave;ng
        đầu miền Bắc &ndash; Việt Nam trong lĩnh vực c&ocirc;ng nghệ th&ocirc;ng tin, đại l&yacute; trải khắp miền Tổ
        quốc, doanh số tăng trưởng theo từng năm (t&iacute;nh đến năm 2015 doanh số c&ocirc;ng ty gần 800 tỷ VNĐ, 2016
        gần 1000 tỷ, 2017 cho đến nay đều vượt 1.000 tỷ) lu&ocirc;n nằm trong top đầu về doanh số của c&aacute;c h&atilde;ng
        v&agrave; nh&agrave; cung cấp. C&aacute;c giải thưởng c&oacute; gi&aacute; trị trong v&agrave; ngo&agrave;i nước
        l&agrave; minh chứng cho sự nỗ lực kh&ocirc;ng ngừng của Ban l&atilde;nh đạo v&agrave; tập thể c&aacute;n bộ nh&acirc;n
        vi&ecirc;n với phương ch&acirc;m giữ&nbsp;<strong>&ldquo;Lấy chữ t&iacute;n l&agrave;m thước đo sự tồn tại v&agrave;
            ph&aacute;t triển của C&ocirc;ng ty&rdquo;</strong>.</p>

    <p>An Ph&aacute;t tham gia ph&acirc;n phối, đại l&yacute; ch&iacute;nh thức c&aacute;c h&atilde;ng nổi tiếng :
        Intel, Samsung, Acbel, LG, Canon, HP, Dell, Epson, Lenovo, Acer, Zotac, Kingston, Kingmax, Gigabyte, ASUS,
        Creative, Draytek, Totolink, Seagate, WD, Cisco, Ubiquiti, Huntkey, Dintel, Voltek ...</p>

    <p>C&ocirc;ng ty c&oacute; nguồn t&agrave;i ch&iacute;nh ổn định, t&iacute;nh chuy&ecirc;n nghiệp cao trong kinh
        doanh v&agrave; dịch vụ, những ch&iacute;nh s&aacute;ch ưu đ&atilde;i hấp dẫn, đội ngũ nh&acirc;n vi&ecirc;n c&oacute;
        tr&igrave;nh độ chuy&ecirc;n m&ocirc;n cao, bao gồm nh&acirc;n vi&ecirc;n tư vấn, nh&acirc;n vi&ecirc;n kỹ thuật
        lắp đặt &amp; giao nhận để đảm bảo kh&aacute;ch h&agrave;ng được sử dụng sản phẩm tốt nhất, ph&ugrave; hợp với
        nhu cầu nhất, đồng thời nhận được sự hỗ trợ kịp thời nhất &amp; chuy&ecirc;n nghiệp nhất. Do đ&oacute;, An Ph&aacute;t
        lu&ocirc;n nhận được sự tin tưởng từ kh&aacute;ch h&agrave;ng trong nước cũng như nước ngo&agrave;i.</p>

    <p>&nbsp;</p>

    <ol start="2">
        <li><strong>TẦM NH&Igrave;N CỦA AN PH&Aacute;T</strong></li>
    </ol>

    <p>- Mục ti&ecirc;u trở th&agrave;nh c&ocirc;ng ty c&oacute; hệ thống Si&ecirc;u thị m&aacute;y t&iacute;nh quy m&ocirc;,
        chuy&ecirc;n nghiệp v&agrave; trải rộng khắp c&aacute;c miền, đem đến sự tiện lợi cho kh&aacute;ch
        h&agrave;ng.</p>

    <p>- X&acirc;y dựng An Ph&aacute;t trở th&agrave;nh một m&ocirc;i trường l&agrave;m việc chuy&ecirc;n nghiệp nơi m&agrave;
        mọi c&aacute; nh&acirc;n ph&aacute;t huy tối đa sức s&aacute;ng tạo, năng lực của bản th&acirc;n.</p>

    <p>- X&acirc;y dựng An Ph&aacute;t trở th&agrave;nh ng&ocirc;i nh&agrave; chung cho mọi c&aacute;n bộ nh&acirc;n vi&ecirc;n
        c&ugrave;ng nhau ph&aacute;t tri&ecirc;n, chia sẻ quyền lợi, tr&aacute;ch nhiệm v&agrave; nghĩa vụ c&ocirc;ng
        bằng, minh bạch nhất.</p>

    <p>&nbsp;</p>

    <ol start="3">
        <li><strong>7 GI&Aacute; TRỊ CỐT L&Otilde;I CỦA AN PH&Aacute;T</strong></li>
    </ol>

    <p>- Trưởng th&agrave;nh qua những TH&Aacute;CH THỨC &amp; THẤT BẠI,</p>

    <p>- Th&iacute;ch ứng nhanh l&agrave; SỨC MẠNH CẠNH TRANH,</p>

    <p>- S&aacute;ng tạo l&agrave; SỨC SỐNG,</p>

    <p>- Tư duy HỆ THỐNG,</p>

    <p>- Kết hợp Đ&Ocirc;NG T&Acirc;Y,</p>

    <p>- AN PH&Aacute;T l&agrave; ng&ocirc;i nh&agrave; chung.</p>

    <p>&nbsp;</p>

    <ol start="4">
        <li><strong>TRIẾT L&Yacute; KINH DOANH CỦA AN PH&Aacute;T</strong></li>
    </ol>

    <p><strong>- Thấu hiểu:&nbsp;</strong>Mỗi kh&aacute;ch h&agrave;ng l&agrave; một con người &ndash; một c&aacute; thể
        ri&ecirc;ng biệt, cần được t&ocirc;n trọng, quan t&acirc;m v&agrave; lắng nghe, thấu hiểu v&agrave; phục vụ một
        c&aacute;ch ri&ecirc;ng biệt. An Ph&aacute;t sẽ l&agrave; nơi hiểu được nhu cầu của kh&aacute;ch h&agrave;ng hơn
        bất kỳ c&ocirc;ng ty n&agrave;o kh&aacute;c.</p>

    <p>-&nbsp;<strong>Tập trung:</strong>Mỗi nh&acirc;n vi&ecirc;n cần l&agrave;m tốt những việc đ&atilde; đề ra, tập
        trung giải quyết chia sẻ những vấn đề kh&oacute; khăn, vướng mắc.</p>

    <p><strong>- &Aacute;p đặt:&nbsp;</strong>An Ph&aacute;t c&oacute; những quy định m&agrave; nh&acirc;n vi&ecirc;n
        phải chấp h&agrave;nh, thực hiện đ&uacute;ng để hướng tới sự chuy&ecirc;n nghiệp, hướng tới to&agrave;n cầu h&oacute;a.
    </p>

    <p>&nbsp;</p>

    <p><strong><em>C&ocirc;ng Ty&nbsp;Cổ Phần Thương Mại M&aacute;y T&iacute;nh An Ph&aacute;t</em></strong></p>

    <p><strong><em>Tầng 5, Số 49&nbsp;phố&nbsp;Th&aacute;i H&agrave;, Phường Trung Liệt, Quận Đống Đa, Th&agrave;nh Phố
        H&agrave; Nội, Việt Nam</em></strong></p>

    <p><strong><em>MST:&nbsp;0108940873</em></strong></p>
</div>

{% endblock content %}